{% extends "base.html" %}
{% block content %}
<div class="card">
  <ul class="list-group">
    <a href="{% url 'post:post_detail' post.pk %}" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title|title }} Post</strong> <br><small class="text-muted"><i class="far fa-clock"></i> {{ post.created_at|date:"d M Y" }} {{ post.created_at|time:"H:i" }}</small></h5>

        <p class="h6">by <span class="badge badge-primary badge-pill"><i class="fas fa-user"></i> {{post.user.username|title}}</span></p>
      </div>
      <p class="lead">{{post.content}}</p>
      <medium><span class="badge badge-primary badge-pill">
          <span class="badge badge-light">{{post.like.count}}</span> Likes
        </span></medium>

    </a>

    <li class="list-group-item d-flex justify-content-between align-items-center join">
      {% if user in post.like.all %}
      <a class="btn btn-light" href="{% url 'post:dislike_post' post.pk %}"><i class="fas fa-thumbs-up"></i></a>
      {% else %}
      <a class="btn btn-light" href="{% url 'post:like_post' post.pk %}"><i class="far fa-thumbs-up"></i> Like</a>
      {% endif %}
      <div class="">
        <a class="btn btn-light" href="{% url 'post:post_update' post.pk %}"><i class="fas fa-pen"></i></a>
        <a class="btn btn-danger" href="{% url 'post:post_delete' post.pk %}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <medium>Likes by:
    {% for user in interacting_users %}
    <span class="badge badge-secondary">
      <a class="interacting-users" href="#">{{user.user.username|title}}</a>
    </span>
    {% empty %}
    no Interacting Users
    {% endfor %}
  </medium>
</div>
  {% endblock %}
