{% extends "base.html" %}
{% block content %}
<div class="card">
  <ul class="list-group">
    <a href="{% url 'post:post_detail' post.pk %}" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title|title }} Post</strong> <br><small class="text-muted"><i class="far fa-clock"></i> {{ post.created_at|date:"d M Y" }} {{ post.created_at|time:"H:i" }}</small></h5>

        <p class="h6">by <span class="badge badge-primary badge-pill"><i class="fas fa-user"></i> {{post.user.username|title}}</span></p>
      </div>
      <p class="lead">{{post.content}}</p>
      <medium>
        <span class="badge badge-primary badge-pill">
          <span class="badge badge-light">{{post.like.count}}</span> Likes
        </span>
        <span class="badge badge-primary badge-pill">
          <span class="badge badge-light">{{post.post_comments.count}}</span> Comments
        </span>
      </medium>

    </a>

    <li class="list-group-item d-flex justify-content-between align-items-center join">
      <div>
        {% if user in post.like.all %}
        <a class="btn btn-light" href="{% url 'post:dislike_post' post.pk %}"><i class="fas fa-thumbs-up"></i></a>
        {% else %}
        <a class="btn btn-light" href="{% url 'post:like_post' post.pk %}"><i class="far fa-thumbs-up"></i></a>
        {% endif %}
        <a class="btn btn-light" href="{% url 'post:create_comment' post.pk %}"><i class="fas fa-plus-circle"></i> Comment
        </a>
      </div>

      <div>
        <a class="btn btn-light" href="{% url 'post:post_update' post.pk %}"><i class="fas fa-pen"></i></a>
        <a class="btn btn-danger" href="{% url 'post:post_delete' post.pk %}"><i class="fas fa-trash"></i></a>
      </div>
    </li>
  </ul>
</div>

<div class="container">
  <medium>Like by
    {% for user in interacting_users %}
    <span class="badge badge-secondary">
      <a class="interacting-users" href="#">{{user.user.username|title}}</a>
    </span>
    {% empty %}
    no Interacting Users
    {% endfor %}
  </medium>
  <hr>

  <p class="lead"><strong>Comments: </strong></p>
  {% for comment in post.post_comments %}

  <div class="container">
    <h5>{{comment.comment_text}} <small> by {{comment.comment_auther}}</small>
      <a class="btn btn-info" href="{% url 'post:update_comment' comment.pk %}"><i class="fas fa-edit"></i>
      </a>
      <a class="btn btn-danger" href="{% url 'post:delete_comment' comment.pk %}"><i class="fas fa-trash-alt"></i>
      </a>
    </h5>
  </div>
  {% empty%}
  <p class="lead">no comments!</p>
  {% endfor%}
</div>
{% endblock %}
