{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<br>
<form method="post">
  {% csrf_token %}
  <div class="jumbotron">
    <h1 class="display-4">Delete {{post.title|title}} post</h1>
    <p class="lead">Are your sure you want to delete {{post.title|title}} post?</p>
    <hr class="my-4">
    <p class="lead">
      <input type="submit" class="btn btn-danger" value="Delete">
      <a href="{% url 'post:post_detail' post.pk %}" class="btn btn-link">Cancel</a>
    </p>
  </div>
</form>
{% endblock %}
